<!DOCTYPE html>
<html lang="en">
    
 <head>
    <meta http-equiv="refresh" content="1" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <p>
        Hello!! Testing if it works on web! :p
    </p>
    <div class="ct-chart ct-perfect-fourth" id="plot"></div>
    <script>
        class Mychart{
            constructor( Xdata, Ydata, tittle)
            {
                this.Xdata=Xdata;
                this.Ydata=Ydata;
                this.tittle=tittle
            }
            createGraph()
            {
                

                // Define the trace
                var trace = {
                    x: this.Xdata,
                    y: this.Ydata,
                    type: 'scatter'
                };

                // Define the layout
                var layout = {
                    title: this.tittle
                };

                // Define the data
                var data = [trace];

                Plotly.newPlot('plot', data, layout);
            }
        }

        var data = $.get('/rightlidar');
        var tm = data.done(function (resp) {
            console.log("JSON DATA", resp.x);
            var obj = new Mychart(resp.x,resp.y,"right lidar data");
        obj.createGraph();
        })

        
    </script>
    
</body>
</html>